.boton {
      /* Color del texo */

      color: #ffffff;
      /* Eliminar color de fondo */

      background: transparent;
      /* Grosor del borde, estilo de línea y color */

      border: 2px solid #ffffff;
      /* Añadir esquinas curvadas */

      border-radius: 6px;
      /* Poner texto en mayúsculas */

      border: none;
      color: white;
      padding: 12px 18px;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      margin: 4px 0px;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
}

.boton1 {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border: 2px solid #ffffff;
}

/* Al poner el curso encima (hover) */

.boton1:hover {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
}

#welcomeTxt{
      text-align: center;
      padding: 1px;
      padding-top: 10px;
}

#welcomePofolio {
      padding: 10px;
}

#welcomePofolioTxtBlack {
      padding: 21px;
}

#welcomePofolioTxtWhite {
      padding: 26px;
      padding-right: 67px;
}

#welcomePofolioTxtBlackEn {
      padding: 21px;
}

#welcomePofolioTxtWhiteEn {
      padding: 26px;
      padding-right: 41px;
}